<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My coredination jobs</title>

    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="index.css">
    <script src="index.js" defer></script>
</head>

<body>
    <main id="app">
        <div class="title">
            <span>My coredination jobs</span>
            <button v-on:click="refresh" title="Reload jobs from coredination server">Reload</button>
        </div>
        <div class="main-grid" v-if="!tokenStatus">
            <div class="main-list">
                <div class="item head">
                    <div>Title</div>
                    <div>Priority</div>
                    <div>Description</div>
                    <div>Price</div>
                    <div>Status</div>
                </div>
                <div class="list">
                    <job-item v-for="job in jobList" v-bind:job="job" v-bind:key="job.id"></job-item>
                </div>
            </div>
            <div class="main-list">
                <div class="info-item">
                    <div class="item head"><div>Attribute</div></div>
                    <div class="item head"><div>Value</div></div>
                </div>
                <div class="list">
                    <div style="margin-top: 20px;" v-for="(value, name) in selected">
                        <div class="info-item" style="margin: 8px" v-if="name != 'id' && name != 'selected'">
                            <div>{{ name }}</div>
                            <div>{{ value }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-token" v-if="tokenStatus">
            <div class="title">Coredination token is invalid</div>
            <div>
                <input v-model="API_Token" v-if="tokenStatus" placeholder="Please enter a valid token">
                <button v-on:click="setToken()" title="Refresh token">Refresh</button>
            </div>
        </div>
    </main>
</body>

</html>